#calculate {
    color: aliceblue;
    font-size: 14px;
    background-color: rgb(218, 126, 13);
    border-radius: 20px;
    border: none;
    margin-left: 25px;
    margin-top: 14px;
    font-family: "Montserrat", sans-serif;
    width: 170px;
    height: 35px;
}

#calculate:hover {
    color: aliceblue;
    background-color: rgb(188, 109, 13);
    cursor: pointer;
}