@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #3fb471;
    text-decoration: none;
    background-color: rgb(70, 58, 115);

}

header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(70, 58, 115);
} 
/* justify-content:space-between pushes elements to the far edges and evenly spaces the items in the middle between those two  */
/* justify-content:flexend pushes elements to the far right */

.logo {
    height: 30px;
    width: 100px;
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

/* margin-right: auto makes the logo float all the way to the left and vice versa for margin left*/

nav {
    order: 1;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

/* display: inline-block; makes the items side/side*/

.nav_links li:nth-child(1) {
    padding: 0px 20px 0 0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #5cf49e
}  

.cta {
    order: 2;
}

button {
    margin-left: 20px;
    color: rgb(250, 250, 250);
    padding: 9px 25px;
    background-color: #3fb471;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:#5cf49e ;
    color: rgb(0, 0, 0);

}
